/* 헤더에 가려지는 문제 해결 */

/* 본문을 헤더 아래에서 시작 */

/* 목차 클릭 시 제목 위치 보정 */
/* Anchor offset for fixed header */
.page__content h1::before,
.page__content h2::before,
.page__content h3::before,
.page__content h4::before,
.page__content h5::before,
.page__content h6::before {
  content: "";
  display: block;
  height: 70px;          /* 헤더 높이 */
  margin-top: -70px;
  visibility: hidden;
}
/* 모바일 */
@media (max-width: 767px) {
  .page__content h1::before,
  .page__content h2::before,
  .page__content h3::before,
  .page__content h4::before,
  .page__content h5::before,
  .page__content h6::before {
    height: 56px;
    margin-top: -56px;
  }
}
/* 검색창 placeholder / 입력 텍스트 스타일 조정 */
.search-input {
  font-size: 1.5rem !important;          // 기본 텍스트 크기
  color: #222;              // 입력 텍스트 색

  &::placeholder {
    font-size: 1.5rem;      // placeholder 글씨 조금 작게
    color: $primary-color;           // 연한 회색 (너무 연하지 않게)
  }
}
.archive__item.is-pinned {
  position: relative;
  padding-left: 1.75rem; // 핀 아이콘 공간 확보
}

.archive__item.is-pinned::before {
  content: "\f08d"; //"\f6e2"; // FontAwesome 핀 아이콘 (fa-thumbtack)
  font-family: "Font Awesome 5 Free";
  font-weight: 900; // solid
  position: absolute;
  left: 0;
  top: 1.5rem;
  color: $link-color-hover;//$primary-color; // 노란색 핀
  font-size: 1rem;
}


